.jumping-text {
  font-family: Luna;
  text-align: center;
  margin: 20px 0;
  font-size: 3.5em;
}

label, input, span {
  text-align: center;
  display: block;
  margin: auto;
  padding: 2px 0;
}

label {
  font-weight: bold;
}

@media screen and (min-width: 800px) {
  .jumping-text {
    font-family: Luna;
    text-align: center;
    margin: 20px 0;
    font-size: 5em;
  }
}
